<div class="uploads-gallery">
{{#each uploads as |upload|}}
  <div id="{{upload._id}}" class="col mb-4 image">
    <h5>{{upload.title}}</h5>
    <a href="{{upload.imageUrl}}" target="_blank"><img src="{{upload.imageUrl}}"></a>
    <p>Owner: {{upload.owner}}</p>
    <p>Tag: {{upload.tag}}</p>
    <p>Date created: {{upload.createdAt}}</p>
    <p>date modified: {{upload.updatedAt}}</p>
    {{#if upload.isOwner}}
    <div class="image-buttons row">
    <button data-id="{{upload._id}}" class="btn btn-warning update-btn" type="button" value="Update">Update</button>
    <button data-id="{{upload._id}}" class="btn btn-danger delete-btn" type="button" value="Delete">Delete</button>
    </div>
    {{/if}}
  </div>
{{/each}}
</div>
